body{
    background-color: #9051cb;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-container {
    margin-right: 20px; /* Adjust margin as needed */
    display: inline-block; /* To ensure divs are displayed in a row */
}